<!-- /.content-wrapper -->
<footer class="main-footer">
<div class="pull-right hidden-xs">     
</div>
<strong>Copyright &copy; <%= Time.current.year %>-<%= Time.current.year+1 %> Rails Admin,</strong> All rights reserved.
</footer> 


