<div class="modal fade" id="modal-default-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Archive Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to archive?</p>
      </div>
      <input type="hidden" name="bulk_perform_action" id="bulk_perform_action">
      <input type="hidden" name="model_id" id="model_id">
      <input type="hidden" name="model_name" id="model_name">
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary delete_confirmed">Archive</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>







