<div style="background:#fff; border:1px solid #ccc; max-width:600px; width:100%; margin:auto;  box-sizing: border-box; overflow: hidden;">
<span style="background: #333 none repeat scroll 0 0; display: inline-block; padding: 10px; text-align: center; width: 100%;"><img src="<%= root_url+'assets/admin_logo.png'%>" alt="Logo" width="282" height="56"></span>

<div style="padding:15px;">
<h2 style="font-size:22px;">Hello <%= @resource.email %>!</h2>

<p style="color:#424242; font-size:14px;">Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="color:#424242; font-size:14px;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p style="color:#424242; font-size:14px;">If you didn't request this, please ignore this email.</p>
<p style="color:#424242; font-size:14px;">Your password won't change until you access the link above and create a new one.</p>
</div>
</div>
