<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rails Admin</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="icon" href="/assets/favicon.ico" type="image/sweep-favicon.ico">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'frontend/jquery.min', 'jquery.validate.min' %>
  <%= csrf_meta_tags %>
  <!-- fonts start -->
</head>
<body data-turbolinks="false">
	This is frontend layout <br><br><br>
	<%= link_to "Click here to access admin", new_admin_session_path %>
</body>
</html>
